Data Cleaning

In [169]:
import pandas as pd

# 1. Leer el CSV
df = pd.read_csv("Sample-Superstore.csv", encoding="latin-1")

# 2. Revisar la estructura
print(df.info())       # tipos de datos, nulls
print(df.head())       # primeras filas
print(df.columns)      # nombres de columnas

# 3. Quitar espacios en nombres de columnas
df.columns = df.columns.str.strip()

# 4. Eliminar duplicados
df = df.drop_duplicates()

# 5. Manejar valores nulos (ejemplo: borrar filas vacías)
df = df.dropna()  

# 6. Asegurar que columnas numéricas sean realmente numéricas
numeric_cols = ["Sales", "Quantity", "Discount", "Profit"]  # ajusta según tu dataset
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors="coerce")

# 7. Verificar nuevamente
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None
   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None

In [170]:
df.to_csv("Sample-Superstore-clean.csv", index=False)

EDA

In [171]:
# df.info()

df.head(10)

# df.shape

# df.columns

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [172]:
import pandas as pd
import sqlite3

df = pd.read_csv("Sample-Superstore-clean.csv", encoding="latin-1")

# Conectar a SQLite (esto crea el archivo superstore.db si no existe)
conn = sqlite3.connect("superstore.db")

# Guardar los datos en una tabla llamada "Superstore"
df.to_sql("Superstore", conn, if_exists="replace", index=False)

9994

In [173]:
# Ejemplo: ver las primeras 5 filas
query = "SELECT * FROM Superstore LIMIT 5;"
result = pd.read_sql(query, conn)
print(result)

# Ejemplo: total de ventas por categoría
query = """
SELECT Category, SUM(Sales) AS Total_Sales
FROM Superstore
GROUP BY Category
ORDER BY Total_Sales DESC;
"""
result = pd.read_sql(query, conn)
print(result)

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
          Category  Total_Sales
0       Technology  836154.0330
1        Furniture  741999.7953
2  Office Supplies  719047.0320

In [174]:

conn = sqlite3.connect("superstore.db")

query = """
SELECT *
FROM Superstore
LIMIT 10;
"""
df_sql = pd.read_sql(query, conn)
print(df_sql)

conn.close()

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
5       6  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710
6       7  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710
7       8  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710
8       9  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710
9      10  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
5  Brosina Hoffman   Consumer  United States      Los Angeles  ...
6  Brosina Hoffman   Consumer  United States      Los Angeles  ...
7  Brosina Hoffman   Consumer  United States      Los Angeles  ...
8  Brosina Hoffman   Consumer  United States      Los Angeles  ...
9  Brosina Hoffman   Consumer  United States      Los Angeles  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage
5       90032    West  FUR-FU-10001487        Furniture  Furnishings
6       90032    West  OFF-AR-10002833  Office Supplies          Art
7       90032    West  TEC-PH-10002275       Technology       Phones
8       90032    West  OFF-BI-10003910  Office Supplies      Binders
9       90032    West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600         7
6                                         Newell 322    7.2800         4
7                     Mitel 5320 IP Phone VoIP phone  907.1520         6
8  DXL Angle-View Binders with Locking Rings by S...   18.5040         3
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000         5

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164
5      0.00   14.1694
6      0.00    1.9656
7      0.20   90.7152
8      0.20    5.7825
9      0.00   34.4700

[10 rows x 21 columns]

SQL Lite

In [183]:
import sqlite3
from pathlib import Path

def base_dir():
    try:
        return Path(__file__).resolve().parent
    except NameError:
        return Path.cwd()

DB_PATH = base_dir() / "shop.db"

SCHEMA_SQL = """
PRAGMA foreign_keys = ON;

DROP TABLE IF EXISTS sales;
DROP TABLE IF EXISTS product;
DROP TABLE IF EXISTS address;
DROP TABLE IF EXISTS orders;
DROP TABLE IF EXISTS customer;

CREATE TABLE customer (
  customer_id   TEXT PRIMARY KEY,
  customername  TEXT NOT NULL,
  segment       TEXT,
  created_at    TEXT
);

CREATE TABLE orders (
  order_id    TEXT PRIMARY KEY,
  customer_id TEXT NOT NULL,
  ship_mode   TEXT,
  ship_date   TEXT,
  created_at  TEXT,
  FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
);

CREATE TABLE address (
  order_id    TEXT NOT NULL,
  customer_id TEXT NOT NULL,
  country     TEXT,
  city        TEXT,
  postalcode  TEXT,
  region      TEXT,
  PRIMARY KEY (order_id, customer_id),
  FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
  FOREIGN KEY (order_id)    REFERENCES orders(order_id)
);

-- Product can repeat across orders, so use a COMPOSITE PK
CREATE TABLE product (
  order_id     TEXT NOT NULL,
  product_id   TEXT NOT NULL,         -- from CSV, untouched
  productname  TEXT,
  category     TEXT,
  subcategory  TEXT,
  PRIMARY KEY (order_id, product_id),
  FOREIGN KEY (order_id) REFERENCES orders(order_id)
);

-- Measures per line item; composite PK matches product
CREATE TABLE sales (
  order_id    TEXT NOT NULL,
  product_id  TEXT NOT NULL,
  sales       NUMERIC,
  quantity    INTEGER,
  discount    NUMERIC,
  profit      NUMERIC,
  PRIMARY KEY (order_id, product_id),
  FOREIGN KEY (order_id, product_id) REFERENCES product(order_id, product_id)
);

CREATE INDEX idx_orders_customer ON orders(customer_id);
CREATE INDEX idx_addr_order     ON address(order_id);
CREATE INDEX idx_product_order  ON product(order_id);
CREATE INDEX idx_sales_order    ON sales(order_id);
CREATE INDEX idx_sales_product  ON sales(product_id);
"""

def create_tables(db_path=DB_PATH):
    with sqlite3.connect(db_path.as_posix()) as conn:
        conn.execute("PRAGMA foreign_keys = ON;")
        conn.executescript(SCHEMA_SQL)
    print("Schema created in:", DB_PATH.resolve())

if __name__ == "__main__":
    create_tables()

Schema created in: /Users/brunoaro/Desktop/CodeAcademy/GitHub_Repository/Project_5/shop.db

In [189]:
import sqlite3
import pandas as pd

DB_PATH  = "shop.db"
CSV_PATH = "Sample-Superstore-clean.csv"

def norm(cols):  # header normalization
    return [c.strip().lower().replace(" ", "_").replace("-", "_") for c in cols]

def anti_append(conn, table, df, pk_cols):
    """Append only rows with PKs not already present in table."""
    # If table doesn't exist yet, just write it
    try:
        existing = pd.read_sql_query(
            f"SELECT {', '.join(pk_cols)} FROM {table}", conn
        )
    except Exception:
        df.to_sql(table, conn, if_exists="append", index=False)
        return

    if not existing.empty:
        # Anti-join on PKs
        merged = df.merge(existing.drop_duplicates(), on=pk_cols, how="left", indicator=True)
        to_insert = merged[merged["_merge"] == "left_only"].drop(columns=["_merge"])
    else:
        to_insert = df

    if not to_insert.empty:
        to_insert.to_sql(table, conn, if_exists="append", index=False)

def main(fresh=False):
    # 1) Load CSV
    try:
        df = pd.read_csv(CSV_PATH)
    except UnicodeDecodeError:
        df = pd.read_csv(CSV_PATH, encoding="latin-1")

    # 2) Normalize headers + alias to schema names
    df.columns = norm(df.columns)
    df = df.rename(columns={
        "customer_name": "customername",
        "postal_code":   "postalcode",
        "sub_category":  "subcategory",
        "product_name":  "productname",
    })

    # 3) IDs as text; dates to ISO
    for col in ("order_id","customer_id","product_id"):
        if col in df.columns:
            df[col] = df[col].astype(str)
    for col in ("order_date","ship_date"):
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors="coerce").dt.strftime("%Y-%m-%d")

    # 4) Build per-table DataFrames
    customer = df[["customer_id","customername","segment","order_date"]].copy()
    customer.rename(columns={"order_date":"created_at"}, inplace=True)
    customer.drop_duplicates(subset=["customer_id"], inplace=True)  # dedupe by PK

    orders = df[["order_id","customer_id","ship_mode","ship_date","order_date"]].copy()
    orders.rename(columns={"order_date":"created_at"}, inplace=True)
    orders.drop_duplicates(subset=["order_id"], inplace=True)

    address = df[["order_id","customer_id","country","city","postalcode","region"]].copy()
    address.drop_duplicates(subset=["order_id","customer_id"], inplace=True)

    product = df[["order_id","product_id","productname","category","subcategory"]].copy()
    product.drop_duplicates(subset=["order_id","product_id"], inplace=True)

    sales = df[["order_id","product_id","sales","quantity","discount","profit"]].copy()
    sales.drop_duplicates(subset=["order_id","product_id"], inplace=True)

    # 5) Write — either fresh (replace) or safe append (anti-join)
    with sqlite3.connect(DB_PATH) as conn:
        conn.execute("PRAGMA foreign_keys = ON;")

        if fresh:
            customer.to_sql("customer", conn, if_exists="replace", index=False)
            orders.to_sql("orders", conn, if_exists="replace", index=False)
            address.to_sql("address", conn, if_exists="replace", index=False)
            product.to_sql("product", conn, if_exists="replace", index=False)
            sales.to_sql("sales", conn, if_exists="replace", index=False)
        else:
            anti_append(conn, "customer", customer, ["customer_id"])
            anti_append(conn, "orders",   orders,   ["order_id"])
            anti_append(conn, "address",  address,  ["order_id","customer_id"])
            anti_append(conn, "product",  product,  ["order_id","product_id"])
            anti_append(conn, "sales",    sales,    ["order_id","product_id"])

    print("Done.")

if __name__ == "__main__":
    # Set fresh=True if you want to overwrite existing tables this run.
    main(fresh=False)

Done.

In [190]:
import sqlite3, pandas as pd
from pathlib import Path

DB = "shop.db"
print("CWD:", Path.cwd())
print("DB exists:", Path(DB).exists(), "→", Path(DB).resolve())

with sqlite3.connect(DB) as conn:
    # What tables do we have?
    print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table' ORDER BY 1;", conn))
    # Row counts
    counts = pd.read_sql("""
        SELECT 'customer' AS table_name, COUNT(*) AS rows FROM customer
        UNION ALL SELECT 'orders', COUNT(*) FROM orders
        UNION ALL SELECT 'address', COUNT(*) FROM address
        UNION ALL SELECT 'product', COUNT(*) FROM product
        UNION ALL SELECT 'sales', COUNT(*) FROM sales;
    """, conn)
    print(counts)
    # Are order dates missing?
    print("orders.created_at NULLs:",
          pd.read_sql("SELECT COUNT(*) AS nulls FROM orders WHERE created_at IS NULL;", conn))

CWD: /Users/brunoaro/Desktop/CodeAcademy/GitHub_Repository/Project_5
DB exists: True → /Users/brunoaro/Desktop/CodeAcademy/GitHub_Repository/Project_5/shop.db
       name
0   address
1  customer
2    orders
3   product
4     sales
  table_name  rows
0   customer   793
1     orders  5009
2    address  5009
3    product  9986
4      sales  9986
orders.created_at NULLs:    nulls
0      0

In [191]:
import sqlite3
import pandas as pd
from pathlib import Path

def base_dir():
    try:
        return Path(__file__).resolve().parent
    except NameError:
        return Path.cwd()

BASE = base_dir()
DB   = BASE / "shop.db"

TABLES = ["customer", "orders", "address", "product", "sales"]

with sqlite3.connect(DB.as_posix()) as conn:
    for t in TABLES:
        df = pd.read_sql(f"SELECT * FROM {t};", conn)
        out = BASE / f"{t}.csv"
        df.to_csv(out, index=False)
        print(f"{t:8s} -> {len(df):5d} rows -> {out.name}")

customer ->   793 rows -> customer.csv
orders   ->  5009 rows -> orders.csv
address  ->  5009 rows -> address.csv
product  ->  9986 rows -> product.csv
sales    ->  9986 rows -> sales.csv

In [192]:
df_customer = pd.read_csv("customer.csv", encoding="latin-1")

df_customer.head()

  customer_id     customername    segment  created_at
0    CG-12520      Claire Gute   Consumer  2016-11-08
1    DV-13045  Darrin Van Huff  Corporate  2016-06-12
2    SO-20335   Sean O'Donnell   Consumer  2015-10-11
3    BH-11710  Brosina Hoffman   Consumer  2014-06-09
4    AA-10480     Andrew Allen   Consumer  2017-04-15

In [194]:
df.product = pd.read_csv("product.csv", encoding="latin-1")

df.product.head(5)

,order_id,product_id,productname,category,subcategory
0,CA-2016-152156,FUR-BO-10001798,Bush Somerset Collection Bookcase,Furniture,Bookcases
1,CA-2016-152156,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Chairs
2,CA-2016-138688,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Labels
3,US-2015-108966,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Furniture,Tables
4,US-2015-108966,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Office Supplies,Storage

In [199]:
df.address = pd.read_csv("address.csv", encoding="latin-1")

df.address.head(5)

,order_id,customer_id,country,city,postalcode,region
0,CA-2016-152156,CG-12520,United States,Henderson,42420,South
1,CA-2016-138688,DV-13045,United States,Los Angeles,90036,West
2,US-2015-108966,SO-20335,United States,Fort Lauderdale,33311,South
3,CA-2014-115812,BH-11710,United States,Los Angeles,90032,West
4,CA-2017-114412,AA-10480,United States,Concord,28027,South

In [201]:
import pandas as pd

# 1) Leer el CSV
df = pd.read_csv("address.csv")

# 2) Ver cuántos duplicados hay en customer_id
dupes = df["customer_id"].duplicated().sum()
print("Número de filas con customer_id duplicado:", dupes)

# 3) Ver qué valores de customer_id están repetidos y cuántas veces
repeated_ids = df["customer_id"].value_counts()
print(repeated_ids[repeated_ids > 1])

# 4) Mostrar las filas que tienen duplicados
duplicate_rows = df[df["customer_id"].duplicated(keep=False)]
print(duplicate_rows.head(10))  # solo las primeras 10 para no mostrar todo

Número de filas con customer_id duplicado: 4216
customer_id
EP-13915    17
EA-14035    13
PG-18820    13
SH-19975    13
NS-18640    13
            ..
RB-19330     2
BT-11485     2
SW-20755     2
CS-12460     2
GR-14560     2
Name: count, Length: 781, dtype: int64
         order_id customer_id        country             city  postalcode  \
0  CA-2016-152156    CG-12520  United States        Henderson       42420
1  CA-2016-138688    DV-13045  United States      Los Angeles       90036
2  US-2015-108966    SO-20335  United States  Fort Lauderdale       33311
3  CA-2014-115812    BH-11710  United States      Los Angeles       90032
4  CA-2017-114412    AA-10480  United States          Concord       28027
5  CA-2016-161389    IM-15070  United States          Seattle       98103
6  US-2015-118983    HP-14815  United States       Fort Worth       76106
7  CA-2014-105893    PK-19075  United States          Madison       53711
8  CA-2014-167164    AG-10270  United States      West Jordan       84084
9  CA-2014-143336    ZD-21925  United States    San Francisco       94109

    region
0    South
1     West
2    South
3     West
4    South
5     West
6  Central
7  Central
8     West
9     West

In [207]:
conn = sqlite3.connect("shop.db")
cur  = conn.cursor()

sql = """
SELECT p.category,
       SUM(s.sales)  AS total_sales,
       SUM(s.profit) AS total_profit
FROM sales s
JOIN product p
  ON p.order_id = s.order_id AND p.product_id = s.product_id
GROUP BY p.category
ORDER BY total_sales DESC;
"""

cur.execute(sql)
rows = cur.fetchall()

top_category_df = pd.DataFrame(rows, columns=["category", "total_sales", "total_profit"])
print(top_category_df)

cur.close()
conn.close()

          category  total_sales  total_profit
0       Technology  835759.7370   145386.1344
1        Furniture  741432.0433    18380.2814
2  Office Supplies  718317.7920   122247.4038